# Ordner ignorieren
build/
temp/
/.idea/

# Bestimmte Dateien ignorieren
*.log
*.tmp

# Alle `.env`-Dateien ignorieren
*.env

# Eine bestimmte Datei explizit tracken, obwohl der Ordner ignoriert wird
!not_ignored_folder/specific_file.txt